* {
  box-sizing: border-box;
}

html, body {
  font-family: 'PT Sans', sans-serif;
  color: rgb(53, 50, 48);
  line-height: 1.4;
  margin: 0;
}

a {
  color: rgb(53, 50, 48);
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;

}

header {
  background-color: rgb(40, 44, 52);
}

#logo {
  height: 40px;
}

nav a {
  color: #fff;
  color: rgb(255, 255, 255);
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  transition: .5s all ease;
}

/* das ist ein kommentar in CSS */

nav a:hover {
  color: rgb(102, 205, 170);
}

#burger {
  background: transparent;
  color: #fff;
  border: none;
  font-size: 2em;
  outline: none;
  float: right;
}

#menu {
  text-align: center;
  display: none;
}

#menu.show {
  display: block
}

.intro {
  width: 100%;
  height: 100vh;
  background-image: url(img/intro.jpg);
  background-size: cover;
  background-position: center;
  color: white;
}

.introtext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 90%;
}

.button {
  background-color: rgba(102, 205, 170);
  color: white;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 5px rgba(255, 255, 255, 1);
  transition: .5s ease;
  text-shadow: 0px 2px 5px rgba(69, 139, 116, 1)
}

.button:hover {
  background: rgb(139, 139, 116)
}

.button a {
  width: 100%;
}

#main img {
  width: 100%;
  display: block;
  border-radius: 5px;
}

.card {
  width: 100%;
}

.card p, .sidebar p {
  font-family: 'PT serif';
}

.teaser {
  padding: 1rem;
  border: 1px solid black;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: 0;
  text-align: center;
}

.teaser h3 {
  margin: 0;
}

.card img {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.card .button {
  display: block;
}

h2 {
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
}

.sidebar h2 {
  text-align: center;
  font-size: 1.5em;
}

.sidebar {
  text-align: center;
}

.searchform {
  border: 1px solid #000;
  height: 2rem;
}

.icon-search {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  line-height: 2rem;
  outline: none;
  float: right;
  width: 2rem;
  height: 2rem;
}

.searchform input {
  float: left;
  height: 2rem;
  background: transparent;
  border: none;
  width: calc(100% - 2rem);
  outline: none;
  padding: 0 .5rem;
}

.autor img {
  width: 50%;
  border-radius: 50%;
}

.autor {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 2rem 0;
  margin-top: 1rem;
}

.afiliate img{
  width: 50%;
}

footer{
  clear: both;
  background: rgb(40, 44, 52);
  height: 200px;
}

footer a{
  color: white;
  transition: all .5s ease;
  }

footer a:hover{

}

.socialmedia{
  float: right;
  font-size: 30px;
}

.futtermenu{
  float: left;
  font-size: 30px;
}

@media(min-width: 768px) {
  /*  header{background: green}*/
  /*  a partir daqui....nur für grosser als 768px! */

footer ul{
  display: flex;
}

footer li{
  margin: 0 .5rem;
}

footer .wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

  .card {
    width: 50%;
    margin: 10px;
  }
  #menu {
    float: right;
    display: block;
  }
  header {
    height: 60px;
  }
  #menu li {
    float: left;
    margin-right: 20px;
  }
  /*id wird zu # */
  #menu li:last-child {
    margin-right: 0;
  }
  #main {
    width: 66.66667%;
    float: left;
  }
  .row {
    display: flex;
  }
  .card:first-child {
    margin-left: 0;
  }
  .card:last-child {
    margin-right: 0;
  }
  #logo {
    margin-top: 10px;
  }
  /* class wird zu . punkt */
  .wrapper {
    margin: auto;
    width: 90%;
    height: 100%;
  }
  #burger {
    display: none;
  }
  #menu {
    margin-top: 19px;
  }
  h1 {
    font-size: 4em;
  }
  .introtext p {
    font-size: 2em;
  }
  h2 {
    text-align: left;
  }
  .sidebar {
    float: right;
    width: 33.333337%;
    padding-left: 2rem;
  }
}
